@keyframes scaleAnim {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    75% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes widthAnim {
    0% {
        width: 0%;
    }

    50% {
        width: 102%;
    }

    75% {
        width: 99%;
    }

    100% {
        width: 100%;
    }
}

@keyframes width10Anim {
    0% {
        width: 0%;
    }

    50% {
        width: 12%;
    }

    75% {
        width: 9%;
    }

    100% {
        width: 10%;
    }
}

@keyframes width15Anim {
    0% {
        width: 0%;
    }

    50% {
        width: 17%;
    }

    75% {
        width: 14%;
    }

    100% {
        width: 15%;
    }
}

@keyframes width20Anim {
    0% {
        width: 0%;
    }

    50% {
        width: 22%;
    }

    75% {
        width: 19%;
    }

    100% {
        width: 20%;
    }
}

@keyframes width25Anim {
    0% {
        width: 0%;
    }

    50% {
        width: 27%;
    }

    75% {
        width: 24%;
    }

    100% {
        width: 25%;
    }
}

@keyframes width150pxAnim {
    0% {
        width: 0;
    }

    50% {
        width: 154px;
    }

    75% {
        width: 148px;
    }

    100% {
        width: 150px;
    }
}

@keyframes height92Anim {
    0% {
        height: 0%;
    }

    50% {
        height: 94%;
    }

    75% {
        height: 91%;
    }

    100% {
        height: 92%;
    }
}

@keyframes height5Anim {
    0% {
        height: 0%;
    }

    50% {
        height: 7%;
    }

    75% {
        height: 4%;
    }

    100% {
        height: 5%;
    }
}

@keyframes height3Anim {
    0% {
        height: 0%;
    }

    50% {
        height: 5%;
    }

    75% {
        height: 2%;
    }

    100% {
        height: 3%;
    }
}

@keyframes heightAnim {
    0% {
        height: 0%;
    }

    50% {
        height: 110%;
    }

    75% {
        height: 95%;
    }

    100% {
        height: 100%;
    }
}

@keyframes height35pxAnim {
    0% {
        height: 0;
    }

    50% {
        height: 37px;
    }

    75% {
        height: 34px;
    }

    100% {
        height: 35px;
    }
}

@keyframes pointerAnimation {
    0% {
        top: 100%;
        left: 10%;
    }

    25% {
        top: 50%;
    }

    35% {
        left: 22%;
    }

    50% {
        top: 20%;
    }

    70% {
        left: 15%;
    }

    74% {
        transform: scale(1);
    }

    75% {
        transform: scale(0.7);
    }

    76% {
        transform: scale(1);
    }

    90% {
        transform: scale(1);
    }

    100% {
        top: 20%;
        left: 15%;
        transform: scale(0);
    }
}